/* CSS Document */

/* body {
	font-family: 'Malgun Gothic', Gulim, sans-serif;
		
		font-size:16px;
	color:#2e2e2e;
	margin: 0;
	padding: 0;
}

ul,li,body,table{
	margin: 0; padding: 0;
}

li{
	list-style: none;
}

body {
	background-color: #fafafa;
}

a{
	text-decoration: none;
	color: #2e2e2e
}
a:hover{
	color: #71A436;
}
*/