.main_nav_login {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.main_nav_login .main_logo_login img {
  width: 140px;
}

.main_nav_login .main_nav_but_login a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

.main_nav_login .main_nav_but_login button {
  background-color: white;
  color: black;
  border: 1px solid white;
  font-size: 15px;
}

.App .loginBox h1 {
  font-size: 30x;
  color: #6c6562;
  margin-top: -20px;
  margin-bottom: 30px;
}

.App {
  text-align: center;
}

body {
  background-color: white;
}

.App {
  width: 460px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}

.App .loginBox address {
  color: black;
}

.loginBox {
  width: 300px;
  height: 320px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  background: white;
  border: 2px solid #859c8a;
  border-radius: 7px;
}

.App .loginBox .loginBox2 input {
  width: calc(100% - 34px);
  padding: 15px;
  border: 1px solid #6c6562;
  margin-bottom: 15px;
  border-radius: 7px;
}

.App .loginBox .loginBox3 button {
  width: 100%;
  padding: 15px;
  border: 1px solid #6c6562;
  background-color: #859c8a;
  font-size: 20px;
  color: #fff;
  border-radius: 7px;
}

.App .loginBox .loginBox3 button:hover {
  background: #bdcebb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
}
