.main_nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.main_nav .main_logo img {
  width: 140px;
}

.main_nav .main_nav_but button {
  background-color: white;
  color: black;
  border: 1px solid white;
  font-size: 15px;
}

/* 여기부터 메뉴 하단 */

.out {
  border: 3.15px outset #e1bdb5;
  border-radius: 10px;
  background-color: white;
  width: 1120px;
  height: 700px;
  margin-left: 220px;
}

.out .printImg {
  position: relative;
  left: 20px;
  top: 10px;
  height: 350px;
  width: 100px;
}

/* 닉네임 : */
.out h1 {
  margin-top: 280px;
  margin-left: 30px;
  font-size: 15px;
  font-style: italic;
}

/* 이메일, 레벨, 포인트*/
.out .info p {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-style: italic;
}

/* 이름 */
.out .info p1 {
  margin-left: 33px;
  margin-top: 10px;
  font-size: 15px;
  font-style: italic;
}

.out .main_plant {
  width: 25%;
}

.out .main_plant p {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 13px;
  font-style: italic;
}

.out .main_plant .logout {
  background-color: white;
  border-radius: 5px;
  width: 210px;
  margin-left: 30px;
  margin-top: 15px;
  padding: 10px 40px;
  border: 3.15px outset #e1bdb5;
}

.out .main_plant .logout:hover {
  color: black;
}

.out .logout_ .logout {
  background-color: white;
  border-radius: 5px;
  width: 210px;
  margin-left: 30px;
  margin-top: 15px;
  padding: 10px 40px;
  border: 3.15px outset #e1bdb5;
}

.out .logout_ .logout:hover {
  color: black;
}

.out .printImg .slot {
  border: 3.15px outset #bdcebb;
  background-color: white;
  border-radius: 10px;
  width: 210px;
  height: 210px;
  margin-top: 15px;
  margin-left: 80px;
}

/* 식물 이름, 특성 창 */
.out .tab .tableprint {
  border: 3.15px outset #bdcebb;
  border-radius: 4px;
  width: 45%;
  height: 29.2%; /* 29.2%*/
  position: absolute;
  left: 300px; /* 550px */
  top: -275px; /* 85 */
}

.out .style {
  width: 75%;
}

/* 레벨이 올라가면 슬롯이 확장됩니다! */
.out .style h1 {
  margin-left: 320px;
  margin-top: -280px;
  font-size: 13px;
  font-style: italic;
  color: #6c6562;
}

.out .style .slots1 {
  clear: both;
  border: 3.15px outset #859c8a;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: 320px;
}

.out .style .slots2 {
  border: 3.15px outset #859c8a;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-left: 25px;
}

.out .style .slots3 {
  border: 3.15px outset #859c8a;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-left: 25px;
}

.out .style .slots4 {
  border: 3.15px outset #859c8a;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-left: 25px;
}

.out .img h1 {
  margin-left: 625px;
  margin-top: 100px;
}

.out .event button {
  border: 3.15px outset #859c8a;
  background-color: white;
  border-radius: 10px;
  width: 675px;
  height: 180px;
  margin-top: 15px;
  margin-left: 320px;
  pointer-events: none;
}

.out .event img {
  width: 310px;
  height: 210px;
  margin-left: -30px;
  margin-top: -200px;
}
