.Experience p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Experience .exx p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Time p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Time .exx2 p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Address p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Address .exx3 p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Address {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 다른 스타일 속성들 */
}

.Address label {
  display: inline-block;
  margin-right: 10px; /* 원하는 간격으로 조정 */
}

.result .spin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}
