.Experience p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Experience .exx p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Time p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Time .exx2 p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Address p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Address .exx3 p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Size p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Size .exx4 p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Light p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Light .exx5 p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Functions p {
  text-align: center;
  color: #6c6562;
  font-size: 22px;
}

.Functions .exx6 p {
  margin-top: 170px;
  text-align: center;
  color: #6c6562;
  font-size: 16px;
}

.Experience .btn {
  display: block;
  margin: auto;
  width: 470px;
  height: 40px;
  background-color: #859c8a;
  color: white;
  border: 1px solid #6c6562;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.5s ease;
}

.Experience .btn:hover {
  background: #bdcebb;
}

.Time .btn {
  display: block;
  margin: auto;
  width: 470px;
  height: 40px;
  background-color: #859c8a;
  color: white;
  border: 1px solid #6c6562;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.5s ease;
}

.Time .btn:hover {
  background: #bdcebb;
}

.Address .btn {
  display: block;
  margin: auto;
  width: 470px;
  height: 40px;
  background-color: #859c8a;
  color: white;
  border: 1px solid #6c6562;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.5s ease;
}

.Address .btn:hover {
  background: #bdcebb;
}

.Size .btn {
  display: block;
  margin: auto;
  width: 470px;
  height: 40px;
  background-color: #859c8a;
  color: white;
  border: 1px solid #6c6562;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.5s ease;
}

.Size .btn:hover {
  background: #bdcebb;
}

.Light .btn {
  display: block;
  margin: auto;
  width: 470px;
  height: 40px;
  background-color: #859c8a;
  color: white;
  border: 1px solid #6c6562;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.5s ease;
}

.Light .btn:hover {
  background: #bdcebb;
}

.Functions .btn {
  display: block;
  margin: auto;
  width: 470px;
  height: 40px;
  background-color: #859c8a;
  color: white;
  border: 1px solid #6c6562;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.5s ease;
}

.Functions .btn:hover {
  background: #bdcebb;
}

.result .resultbtn {
  display: block;
  margin: auto;
  margin-top: 300px;
  width: 470px;
  height: 40px;
  background-color: #859c8a;
  color: white;
  border: 1px solid #6c6562;
  border-radius: 5px;
  font-size: 23px;
  transition: 0.5s ease;
}

.result .resultbtn:hover {
  background: #bdcebb;
}

.recbtn {
  /* 이거 div classname 으로 해서  .(classname명) .recbtn 되야하는데 못 찾겠음 .. */
  text-align: center;
  background-color: #859c8a;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
  transition: 0.5s ease;
}

.recbtn :hover {
  transform: 0.5s ease;
  border: 2px solid #6c6562;
  background: transparent;
  color: black;
}

.encan .enroll {
  background-color: white;
}

.encan .cancel {
  background-color: white;
}

h4{
  margin-left: 300px;
  color: #6c6562;
  margin-top: 10px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spin {
  width: 30px;
}

.main_nav_rec {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.main_nav_rec .main_logo_rec img {
  width: 140px;
}

.main_nav_rec .main_nav_but_rec button {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  color: black;
  border: 1px solid white;
  font-size: 15px;
}
